<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adefault"
        tools:targetApi="31">
        <activity
            android:name=".lec21_Navigation2"
            android:exported="true"
            android:label="@string/title_activity_lec21_navigation2"
            android:theme="@style/Theme.Adefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lec20_Navigation1"
            android:exported="true"
            android:label="@string/title_activity_lec20_navigation1"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec19_Show_Hide"
            android:exported="true"
            android:label="@string/title_activity_lec19_show_hide"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec18_CodeEditing"
            android:exported="true"
            android:label="@string/title_activity_lec18_code_editing"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec17_ProgressIndicator"
            android:exported="true"
            android:label="@string/title_activity_lec17_progress_indicator"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec16_LazyRow"
            android:exported="true"
            android:label="@string/title_activity_lec16_lazy_row"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec15_LazyColumn"
            android:exported="true"
            android:label="@string/title_activity_lec15_lazy_column"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec14_scaffold"
            android:exported="true"
            android:label="@string/title_activity_lec14_scaffold"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec13_Surface"
            android:exported="true"
            android:label="@string/title_activity_lec13_surface"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec12_WebView"
            android:exported="true"
            android:label="@string/title_activity_lec12_web_view"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec11_Card"
            android:exported="true"
            android:label="@string/title_activity_lec11_card"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec10_Column_Row"
            android:exported="true"
            android:label="@string/title_activity_lec10_column_row"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec9_Row"
            android:exported="true"
            android:label="@string/title_activity_lec9_row"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec8_Box"
            android:exported="true"
            android:label="@string/title_activity_lec8_box"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec7_Image"
            android:exported="false"
            android:label="@string/title_activity_lec7_image"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec6_TextFiled_OutlinedTextField"
            android:exported="true"
            android:label="@string/title_activity_lec6_text_filed_outlined_text_field"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec5_Column_Spacer_Divider"
            android:exported="true"
            android:label="@string/title_activity_lec5_column_spacer_divider"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec4_Remember"
            android:exported="true"
            android:label="@string/title_activity_lec4_Remember"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".lec3_Button_Toast"
            android:exported="true"
            android:label="@string/title_activity_lec3_button_toast"
            android:theme="@style/Theme.Adefault" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Adefault" />
    </application>

</manifest>